.plugin-online-ocr-dock {
    .job {
        margin: 12px;
        padding: 8px;
        background-color: var(--b3-color-bg);
        
        .job-name {
            font-weight: bold;

            svg {
                height: 16px;
                width: 16px;
                font-size: 16px;
            }
        }
    }
}